#ul_menu{
	font-size:13px;
	letter-spacing:3px;
	font-family:Arial,sans-serif;
	font-weight:bold;
	text-transform: uppercase;
	margin: 2px auto;
	padding: 0;
	list-style-type: none;
	height: 15px;
}
#ul_menu li {
	display:inline;
	padding: 0 45px; 
	text-align: center;
}
#ul_menu li a {
	text-decoration: none;
	color: #666;
	text-align:center;
	margin:0 auto;
}
#ul_menu li a:hover, #ul_menu li.active a{
	color: #999;
}

body {
	font: 62.5% "Trebuchet MS", sans-serif;
	background-color: #DDD;
	color:#999;
}

a:link{
  text-decoration: none; color: #666;font-family:Arial,sans-serif;
}

.debug{
	font-family:sans-serif;
	color:#999999;
	/* set display on each page */
}
